{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block main %}
<div class="m_form">

    <img class="form_img" src="{% static 'img/Dad`s Bday 2.jpg' %}" style="width: 100%;justify-self: center;" alt>
    <div class="a_form">
        <div style="text-align: center;text-transform: uppercase;">
            <p> Write a short story about your first meeting with daddie,<br> try and not disclose your identity,<br>we want him to find out for him
            </p>
        </div>
        <br>
        <form action="{% url 'form' %}" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            {{form | crispy}}
            <div style="text-align: center;">
                <input class="btn submit" type="submit" value="Submit">
            </div>
        </form>
    </div>
</div>
{% endblock main %}