{% extends "base.html" %}
{% load static %}
{% block main %}
<style>
  
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
    .scroll{
        padding:0;
    }
    *{
        color: inherit;
    }
    body{
        background-image: url("{% static 'img/23.jpg' %}");
        background-size:cover;
        background-position: center;
        background-attachment: fixed;
    }
    footer{
      z-index: 0;
    }
  </style>
<style>
    /* CSS styling for the modal */
    .modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.9);
    }

    .modal-content {
      background-color: #fff;
      margin: 10% auto;
      padding: 20px;
      width: 80%;
      max-width: 600px;
    }
@media screen and (max-width:760px) {
  .modal-content{
    margin: 30% auto;
  }
}
    .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    /* CSS styling for the button */
    .button {
      background-color: #4CAF50;
      border: none;
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 20px;
      cursor: pointer;
    }
  </style>

<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light text-light">HAPPY BIRTHDAY DADDIE</h1>
      <p class="lead text-muted">Happy birthday to Daddie, the extraordinary
        pastor of Layers of Truth Church, whose teachings, love, and unwavering
        commitment have touched our lives and shaped our faith in remarkable
        ways.
      </p>
      <p>
        <a href="{% url 'form' %}" class="btn submit my-2" style="color: wheat;
            border: 3px solid wheat;">Write to Daddie</a>
        <a href="https://t.me/+25s9rZswn4A0ZWRk" class="btn btn-secondary my-2"
          style="color: black;
            background-color:wheat;border: 3px solid wheat;">Listen to his
          messages</a>
      </p>
    </div>
  </div>
</section>

<div class="album py-5">
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 text-dark">
      {% for wish in wishes %}
      <style>
         #content{{wish.id}} {
          display: none;
        }
      </style>
      <div class="col text-black">
        <div class="card shadow-sm">
          <div class="bd-placeholder-img card-img-top"
            style="width:100%;height:225px;background-image: url('{{wish.A_picture_of_Daddie.url}}');background-position: center;background-size: cover;">

          </div>
          <div class="card-body">
            <p class="card-text">{{wish.Your_story | truncatechars:100}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="#" id="openModalBtn{{wish.id}}"
                  class="btn btn-sm btn-outline-secondary">View</a>
              </div>
              <small class="text-muted">{{wish.date_added}}</small>
            </div>
          </div>
        </div>
      </div>
      <div id="myModal{{wish.id}}" class="modal">
        <div class="modal-content">
            <span class="close" id="close{{wish.id}}">&times;</span>
            <div id="countdown{{wish.id}}"></div>
          <div id="content{{wish.id}}">
            <h2><img src="{{wish.A_picture_of_Daddie.url}}" style="width:100%"
                alt
                srcset></h2>
            <p>{{wish.Your_story}}</p>
            <div>
              {% if user.role.title == "Admin" %}
              <strong>Author</strong> : {{wish.user.last_name|title}}
              {{wish.user.first_name | title}}
              {% else %}
              <strong>Author id</strong> :{{wish.user.id}}
              {% endif %}
             
            </div>
          </div>

        </div>
      </div>

      <script>
                // JavaScript code to handle the button click and display the modal
                var modal{{wish.id}} = document.getElementById("myModal{{wish.id}}");
                var btn{{wish.id}} = document.getElementById("openModalBtn{{wish.id}}");
                var span{{wish.id}} = document.getElementById("close{{wish.id}}");
            
                // Open the modal when the button is clicked
                btn{{wish.id}}.onclick = function() {
                  modal{{wish.id}}.style.display = "block";
                };
            
                // Close the modal when the 'x' (close) button is clicked
                span{{wish.id}}.onclick = function() {
                  modal{{wish.id}}.style.display = "none";
                };
            
                // Close the modal when the user clicks outside the modal content
                window.onclick = function(event) {
                  if (event.target == modal{{wish.id}}) {
                    modal{{wish.id}}.style.display = "none";
                  }
                };
                function countdown(targetDate{{wish.id}}) {
                  let countdownElement{{wish.id}} = document.getElementById("countdown{{wish.id}}");
                  let contentElement{{wish.id}} = document.getElementById("content{{wish.id}}");

                  let timer{{wish.id}} = setInterval(function() {
                    let currentDate{{wish.id}} = new Date().getTime();
                    let remainingTime{{wish.id}} = targetDate{{wish.id}} - currentDate{{wish.id}};

                    if (remainingTime{{wish.id}} <= 0) {
                      clearInterval(timer{{wish.id}});
                      contentElement{{wish.id}}.style.display = "block";
                    } else {
                      let days{{wish.id}} = Math.floor(remainingTime{{wish.id}} / (1000 * 60 * 60 * 24));
                      let hours{{wish.id}} = Math.floor(
                        (remainingTime{{wish.id}} % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
                      );
                      let minutes{{wish.id}} = Math.floor(
                        (remainingTime{{wish.id}} % (1000 * 60 * 60)) / (1000 * 60)
                      );
                      let seconds{{wish.id}} = Math.floor((remainingTime{{wish.id}} % (1000 * 60)) / 1000);

                      countdownElement{{wish.id}}.innerHTML =
                        "<center><b>Time remaining</b></center> <br> " +
                        days{{wish.id}} +
                        " days, " +
                        hours{{wish.id}} +
                        " hours, " +
                        minutes{{wish.id}} +
                        " minutes, " +
                        seconds{{wish.id}} +
                        " seconds";
                    }
                  }, 1000);
                }

// Usage: Set the target date for the countdown
                let targetDate{{wish.id}} = new  Date("2023-06-15T20:10:00").getTime(); // Current date + 2 days
                countdown(targetDate{{wish.id}});

              </script>
      {% endfor %}

    </div>
  </div>
</div>
{% endblock main %}